<footer class="bg-black text-white p-15">
    <div class="d-flex justify-content-between container">
        <div class="img-footer">
            <img class="w100" src="_front/assets/img/logo-white.png" alt="">
        </div>
        <p>CGU -- Mentions légales -- Gestion des cookies -- Données personnelles -- 2019 Pay-Able. TOUS DROITS RESERVES</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="_front/assets/js/nav.js"></script>