{% include 'backoffice/include/nav.html' %}


<h1>Payments de demain</h1>

<div class="table">

    <div class="row header green">
        <div class="cell">Id</div>
        <div class="cell">Nom</div>
        <div class="cell">Taille</div>
        <div class="cell">Prochain prélèvement</div>
        <div class="cell">Statut</div>
        <div class="cell">Action</div>
    </div>

    {% for PAYMENT in PAYMENTS %}
    <div class="row">
        <div class="cell">PAY-ABLE_{{ PAYMENT.id_group }}_{{ PAYMENT.token }}</div>
        <div class="cell">{{ PAYMENT.name }}</div>
        <div class="cell">{{ PAYMENT.taille }}</div>
        <div class="cell">{{ PAYMENT.next_prelevement|date('d/m/Y') }}</div>
        <div class="cell">{%  if(PAYMENT.statut == 1) %} Actif {% else %} Inactif {% endif %}</div>
        <div class="cell"><a href="{{ _FRONT }}/backoffice/groupes/consultation?id={{ PAYMENT.id_group }}">Consultation</a></div>
    </div>
    {% endfor %}

</div>
{% include 'backoffice/include/footer.html' %}
