{% include 'include/head.html' %}

<body id="merci">
<header>
    {% include 'include/nav.html' %}
</header>

<main>
    <div class="container-page-white">
        <img src="_front/assets/img/merci1.png" class="text-right" alt="">
        <h1 class="text-center">Merci</h1>
        <p class="text-center">Vous recevrer vos identifiants au différentes solutions choisi le jour suivant l'activation de votre groupe.</p>
        <img src="_front/assets/img/merci2.png" alt="">
    </div>

</main>

{% include 'include/footer.html' %}
</body>