<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ PRENOM }} {{ NOM }} a rejoint votre groupe groupe</title>
</head>
<body bgcolor="#d6d6d6" style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;">
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="content">
    <tr>
        <td>
            <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="font-size:0;border-collapse:collapse;" class="content">
                <tr>
                    <td  class="content">

                        <img style="display:block;" src="https://www.pay-able.fr/public/assets/img/mail/bouyaaheader.jpg" width="100%"  border="0" alt="Rejoingez votre groupe" title="Pay-able">

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border-collapse:collapse; font-family:helvetica;" class="bloc2">

                <table width="550" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border-collapse:collapse; font-family:helvetica;" class="content">
                    <tr>
                        <td>
                    <tr>
                        <td width="550" class="bloc1" align="left">
                            <p style="font-size:27px; color:#000; font-family: futura-pt-condensed, sans-serif; font-weight: 700; font-style: normal;">Bonjour {{ PRENOM }} {{ NOM }},</p>
                            <p style="font-size:15px; color:#000; font-family: futura-pt-condensed, sans-serif; font-weight: 700; font-style: normal; text-align: left">Nous vous remercions de vous être inscrit, votre identifiant est : {{ EMAIL }}</p>
                        </td>
                    </tr>

                    <tr>
                        <td width="550" class="bloc1" align="center">
                            <a href="https://pay-able.fr" style="background: #00A059;padding: 15px;border-radius: 10px; color: #fff; text-decoration: none;margin-bottom: 15px;display: block">Aller sur le site</a>
                        </td>
                    </tr>
                </table>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="650" bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0" class="content">
                <tr><td height="15" style="font-size:0;" class="content">&nbsp;</td></tr>
                <tr><td class="hide"><img src="https://www.pay-able.fr/public/assets/img/mail/footer.jpg" border="0" width="650" alt="" /></td></tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>