<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Invitation au groupe</title>
</head>
<body bgcolor="#d6d6d6" style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;">
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="font-size:0;" class="content">
    <tr>
        <td>
            <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="font-size:0;border-collapse:collapse;" class="content">
                <tr>
                    <td  class="content">

                        <img style="display:block;" src="https://www.pay-able.fr/public/assets/img/mail/bouyaaheader.jpg" width="100%"  border="0" alt="Rejoingez votre groupe" title="Pay-able">

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="font-size:0;border-collapse:collapse; font-family:helvetica;" class="bloc2">

                <table width="550" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="font-size:0;border-collapse:collapse; font-family:helvetica;" class="content">
                    <tr>
                        <td>
                    <tr><td height="25"></td></tr>
                    <tr>
                        <td width="550" class="bloc1" align="center">
                            <p style="font-size:27px; color:#000; font-family: futura-pt-condensed, sans-serif; font-weight: 700; font-style: normal;">{{ PRENOM }} {{ NOM }} vous invite &agrave; rejoindre son groupe de partage pour {{ SOLUTIONS }}</p>
                            <p style="font-size:40px; color:#000; font-family: futura-pt-condensed, sans-serif; font-weight: 700; font-style: normal;">pour un total de {{ TOTAL }} &euro; par personne</p>
                        </td>
                    </tr>
                    <td  class="content">
                        <tr>
                            <td align="center">
                                <a href="https://www.pay-able.fr/rejoindre?id={{ ID_GROUPE }}&token={{ TOKEN }}"><img src="https://www.pay-able.fr/public/assets/img/mail/cta-join.png" border="0" width="300" alt="Je Rejoins le Groupe" class="img"></a>
                            </td>
                        </tr>
                    </td>
                </table>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="650" bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0" style="font-size: 0; " class="content">
                <tr><td height="15" style="font-size:0;" class="content">&nbsp;</td></tr>
                <tr><td class="hide"><img src="https://www.pay-able.fr/public/assets/img/mail/footer.jpg" border="0" width="650" alt="" /></td></tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>